<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dq0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{46,58}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{46,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dq0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{46,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{46,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dq0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dq0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dq0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{46,56}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{46,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dq0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{48,56}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dq0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{48,56}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dq0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{46,58}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{46,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dq0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{46,58}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{46,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shake.png</string>
            <key>size</key>
            <string>{442,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e136aa7ad5f00f37476f633ce9009fe2:4579f5c15a57e8c12d92669cba7a1d69:59623becf57f3f38cc1ec174950288eb$</string>
            <key>textureFileName</key>
            <string>shake.png</string>
        </dict>
    </dict>
</plist>
