<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>z0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>z0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>z0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>z0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>z0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>z0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>z0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>z0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>z0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{452,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46e08861359d730a2c7ae7caf2a30e63:a692a294f8dbc2f0f122c703855add58:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
