*.[aod]
*.DS_Store
.DS_Store
*Thumbs.db
*.keystore
.flowconfig
.watchmanconfig
/**/npm-debug.log
/**/node_modules
!/**/App/node_modules
/**/*.iml
/**/build
/**/*shared*
/**/*xcuserdata*
/**/.svn
/**/public
/**/.gradle
*.idea
local.properties
