<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>t0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>t0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{46,58}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{46,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>t0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{46,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{46,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>t0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>t0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{48,58}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>t0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{48,58}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>t0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{46,58}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{46,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>t0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kick.png</string>
            <key>size</key>
            <string>{446,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd3da370e015ca6dd9755c1d742024e7:1d0cf1d6b3f78a0d13098970ba0f3ffc:b4459f0df32d104c95fed11931798a63$</string>
            <key>textureFileName</key>
            <string>kick.png</string>
        </dict>
    </dict>
</plist>
